* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
/* 
body {
    padding: 0 4%;
} */

.flex {
    display: flex;
}
.header {
    padding: 2% 3% ;
}

.header-content {
    justify-content: space-between;
    display: flex;
}

.logo {
    display: flex;
}

.header-logo {
    display: flex;
    padding: 10px 15px;
    font-size: 18px;
    background-color: #333;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

.screen-content {
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content:center;
}

.screen-info {
    background-color: #333;
    height: 200px;
    border-radius: 10px;
    width: 400px;
justify-self: center;
padding: 3rem;
}

.screen-sizes {
    justify-content: center;
    align-items: center;
}

.screen-height,
.screen-width,
.multiply
 {
    color: #fff;
    font-size: 5rem;
    

}


@media  screen and  (max-width:200px) {
 
    *{
        font-size: 13px !important;
    }
}